* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--background-color);
}

:root {
  --background-color: #f9eeff;
  --card-background: white;
}

.background {
  width: 100%;
}

summary {
  font-weight: 600;
  list-style: none;
}

.my-faqs {
  background-color: var(--card-background);
  width: 550px;
  padding: 2rem;
  border-radius: 10px;
  min-height: 450px;
  transform: translateY(-100px);
  box-shadow: -0.5px 10px 20px #ad28eb36;
  margin: auto;
}

.faqs {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 10%;
  margin-bottom: 15px;
}

.faqs p {
  font-size: 2.8rem;
  font-weight: bold;
  color: #301534;
}

.detials {
  display: grid;
  min-height: 300px;
}

details:not(.last) {
  border-bottom: 1px solid lightgray;
}

details {
  padding-block: 10px;
}

summary {
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

summary:hover {
  color: #ad28eb;
}

.answer {
  padding-top: 10px;
  color: gray;
  line-height: 25px;
}

.hidden {
  display: none;
}

@media screen and (min-width: 300px) and (max-width: 399px) {
  .my-faqs {
    width: 290px;
    font-size: 0.8rem;
    margin-top: 50px;
  }
  summary {
    gap: 20px;
  }
}

@media screen and (min-width: 400px) and (max-width: 460px) {
  .my-faqs {
    width: 350px;
    font-size: 0.9rem;
    margin-top: 30px;
  }
  summary {
    gap: 20px;
  }
}

@media screen and (min-width: 461px) and (max-width: 600px) {
  .my-faqs {
    width: 450px;
    font-size: 0.9rem;
    margin-top: 30px;
  }
}
